html, body{
    width: 100%;
    height: 100%;
}
.navbar{
    background-color: #23415c;
    border-color:#23415c;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active  {
    color:wheat;
}
#navbar-collapse-main ul.nav.navbar-nav.navbar-right li a{
    color: white;
}

#home{
    background: url(./assets/titan4.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
    color: #000719;
}

.landing-text h3{
    color: #000719;
    font-weight: 600;
}

.btn.btn-default{
    background-color: black;
    border-color: black;
}

.landing-text a{
    color: white;
}

.landing-text a:hover{
    color: wheat;
}

.row h2, .team-pic h2, .project h2{
    font-size: 300%;
    font-weight: 700;
    color: #000719;
}
.padding {
    padding: 80px 0;
}
.padding img{
    width: 100%;
}

.container .image{
    width: 300px;
    height: 300px;
    margin: 20px;
}

.team-text h1{
    font-size: 500%;
    font-weight: 700;
    color: #000719;
}
 span a{
    color: red;
    text-decoration: none;
}

span a:hover{
    text-decoration: none;
}

#fixed {
    background: url(./assets/titan5.png) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.about-titan h4{
    font-size: 200%;
    font-weight: 600;
}
.lead a{
    font-weight: 600;
}

footer {
    width: 100%;
    background-color: #23415c;
    padding: 1%;
    color: white;
}

#contact-us {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#contact-us:hover{
    text-decoration: none;
    color: red;
}

a.fa.fa-twitter,.fa-linkedin{
    font-size: 23px;
    color: white;
    padding: 0px 7px 0px 7px;
    text-decoration: none;
}
a.fa.fa-linkedin{
    text-decoration: none;
    color: white;
}
p.footer-text{
    color: gray;
}
p.footer-text a{
    text-decoration: none;
    color: gray;
}

footer .fa:hover{
    color: red;
    text-decoration: none;
}

.icon{
    max-width: 200px;
}

#developed-with a:hover{
    text-decoration: none;
    color: red;
}

@media(max-width:400px){ /* iphone 6/7/8 plus*/

    .navbar-header {
        padding-right: 5px;
    }
    .navbar-brand{
        padding-left: 5px;
    }
    .landing-text h1{
        font-size: 300%;
        padding-right: 30px;
    }
    .landing-text h3{
        font-size: 110%;
        padding-right: 30px;
    }
    .landing-text a{
        margin: 30px 30px 0px 0px;
    }

    .row h2{
        margin: 0px 35px 0px 35px;
        font-size: 200%;
    }
    .padding img{
        padding: 0px 35px 0px 35px;
    }
    .padding p{
        margin: 20px;
    }
    .team-pic h2{
        margin: 5px;
        font-size: 200%;
    }
    .image{
        padding: 40px;
        margin-left: 5px;
    }
    .fa{
        font-size: 20px;
        padding: 10px;
    }
    .icon{
        padding-top: 5px;
        max-width: 100px;
    }
    .who-we-are-text p{
        padding: 20px;
    }
}

@media (max-width: 768px){
    .navbar-header {
        padding-right: 25px;
    }
}

@media (min-width: 768px){
     .navbar-right{
        margin-right: 30px;
    }
    .container .team-image .image{
        width: 250px;
        height: 350px;
    }
    .container{
        padding-right: 80px;
    }
}

@media (max-width:414px){
    .container{
        padding-right: 50px;
    }
}
@media only screen and (max-width:414px){
    p.footer-text, i.fa.fa-heart.px-2, p.footer-text a{
        font-size: 11px;
    } 
}







 